
@levelZeroBackgroundColor: black;
@levelOneBackgroundColor: #222;

@defaultFont: courier;
@defaultFontColor: #DDD;
@defaultFontSize: 16pt;
@defaultFontWeight: bold;

@smallerFontSize: 13pt;

@buttonBorder: none;
@buttonMargin: 10px;
@buttonBackgroundColor: #660099;
@buttonHoverBackgroundColor: #9E00ED;
@buttonPressedBackgroundColor: #8900DE;
@buttonHoverFontColor: white;
@buttonFontWeight: bold;
    
@menuWidth: 200px;
@menuButtonHeight: 50px;

@pageTopMargin: 100px;
@pageBackgroundColor: #EFEFEF;
@pageMinimumHeight: 400px;

@rowMargin: 10px;
@rowBorder: 2px dashed #AAA;
@rowMinimumHeight: 50px;
@rowHoverBackgroundColor: #EEEEFF;
@rowHoverBorderColor: #AAF;

.pagy {
  
  position: relative;
  height: 100%;
  
  .default-font() {
    font-family: @defaultFont;
    font-size: @defaultFontSize;
    font-weight: @defaultFontWeight;
    color: @defaultFontColor;
  }
  .default-font;
  
  .smaller-font-size() {
    font-size: @smallerFontSize;
  }
  
  button {
    
    .default-font;
    font-weight: @buttonFontWeight;
    
    background-color: @buttonBackgroundColor;
    border: @buttonBorder;
    margin: @buttonMargin;
    
    &:hover {
      background-color: @buttonHoverBackgroundColor;
      color: @buttonHoverFontColor;
      cursor: pointer;
    }
    
    &.pressed {
      background-color: @buttonPressedBackgroundColor;
    }
  }
  
  .menu {
    
    position: absolute;
    top: 0;
    left: 0;
    width: @menuWidth;
    height: 100%;
    background-color: @levelOneBackgroundColor;
    
    button.exit {
      position: absolute;
      bottom: 0;
      left: 0;
      width: @menuWidth - 2 * @buttonMargin;
      height: @menuButtonHeight;
    }
    
    button.preview {
      .smaller-font-size;
      position: absolute;
      width: (@menuWidth - 4 * @buttonMargin) / 2;
      top: 0;
      left: 0;
    }
    
    button.layout {
      .smaller-font-size;
      position: absolute;
      width: (@menuWidth - 4 * @buttonMargin) / 2;
      top: 0;
      left: @menuWidth / 2;
    }
    
  }
  
  .viewport {
  
    position: absolute;
    top: 0;
    right: 0;
    left: @menuWidth;
    height: 100%;
    background-color: @levelZeroBackgroundColor;
    
    .page {
    
      position: absolute;
      top: @pageTopMargin;
      left: 5%;
      width: 90%;
      min-height: @pageMinimumHeight;
      background-color: @pageBackgroundColor;
      
    }
    
    &.layout-mode {
    
      .page {
      
	.row {
	
	  margin: @rowMargin;
	  border: @rowBorder;
	  min-height: @rowMinimumHeight;
	  text-align: center;
	  
	  > .controls {	  
	    > .add-row {
	      display: none;
	    }	  
	  }
	  
	  &:hover {
	    background-color: @rowHoverBackgroundColor;
	    border-color: @rowHoverBorderColor;
	    
	    > .controls {	    
	      > .add-row {
		display: inline;
	      }	    
	    }
	    
	  }
	  
	}
      
      }
    
    }
    
    &.preview-mode {
    
      .row {
	.controls {
	  display: none;
	}
      }
    
    }
    
  }
  
}