
@imagesLocation: "../resources/images";

@levelZeroBackgroundColor: black;
@levelOneBackgroundColor: #222;

@defaultFont: courier;
@defaultFontColor: #DDD;
@defaultFontSize: 16pt;
@defaultFontWeight: bold;

@smallerFontSize: 13pt;

@buttonBorder: none;
@buttonMargin: 10px;
@buttonBackgroundColor: #660099;
@buttonHoverBackgroundColor: #9E00ED;
@buttonPressedBackgroundColor: #8900DE;
@buttonHoverFontColor: white;
@buttonFontWeight: bold;
    
@menuWidth: 200px;
@menuButtonHeight: 50px;

@pageTopMargin: 100px;
@pageBottomMargin: 50px;
@pageBackgroundColor: #EFEFEF;
@pageMinimumHeight: 400px;
@pageVerticalPadding: 2px;

@rowMargin: 10px;
@rowBorder: 2px dashed #AAA;
@rowMinimumHeight: 100px;
@rowHoverBackgroundColor: #EEEEFF;
@rowHoverBorderColor: #AAF;
@rowControlsWidth: @smallIconButtonSize + 2 * @smallIconButtonMargin;

@smallIconButtonSize: 16px;
@smallIconButtonMargin: 8px;

.pagy {
  
  position: relative;
  height: 100%;
  
  .default-font() {
    font-family: @defaultFont;
    font-size: @defaultFontSize;
    font-weight: @defaultFontWeight;
    color: @defaultFontColor;
  }
  .default-font;
  
  .smaller-font-size() {
    font-size: @smallerFontSize;
  }
  
  .text-button() {
    
    .default-font;
    font-weight: @buttonFontWeight;
    
    background-color: @buttonBackgroundColor;
    border: @buttonBorder;
    margin: @buttonMargin;
    
    &:hover {
      background-color: @buttonHoverBackgroundColor;
      color: @buttonHoverFontColor;
      cursor: pointer;
    }
    
    &.pressed {
      background-color: @buttonPressedBackgroundColor;
    }
  }
  
  .icon-button() {
  
    border: none;
    background-color: transparent;
    
    &:hover {
      cursor: pointer;
    }
    
    .small() {
      width: @smallIconButtonSize;
      height: @smallIconButtonSize;
      margin: @smallIconButtonMargin;
    }
  
  }
  
  .menu {
    
    position: absolute;
    top: 0;
    left: 0;
    width: @menuWidth;
    height: 100%;
    background-color: @levelOneBackgroundColor;
    
    button {
      .text-button;
    }
    
    button.exit {
      position: absolute;
      bottom: 0;
      left: 0;
      width: @menuWidth - 2 * @buttonMargin;
      height: @menuButtonHeight;
    }
    
    button.preview {
      .smaller-font-size;
      position: absolute;
      width: (@menuWidth - 4 * @buttonMargin) / 2;
      top: 0;
      left: 0;
    }
    
    button.layout {
      .smaller-font-size;
      position: absolute;
      width: (@menuWidth - 4 * @buttonMargin) / 2;
      top: 0;
      left: @menuWidth / 2;
    }
    
  }
  
  .viewport {
  
    position: absolute;
    top: 0;
    right: 0;
    left: @menuWidth;
    height: 100%;
    background-color: @levelZeroBackgroundColor;
    overflow-y: scroll;
    
    .page {
    
      margin-top: @pageTopMargin;
      margin-bottom: @pageBottomMargin;
      margin-left: 5%;
      width: 90%;
      min-height: @pageMinimumHeight;
      background-color: @pageBackgroundColor;
      padding-top: @pageVerticalPadding;
      padding-bottom: @pageVerticalPadding;
      
    }
    
    &.layout-mode {
    
      .page {
      
	button {
	  .icon-button;
	  .icon-button.small;
	  
	  &.add-row {
	    background-image: url("@{imagesLocation}/plus.png");
	  }
	  
	}
      
	.row {
	
	  margin: @rowMargin;
	  border: @rowBorder;
	  min-height: @rowMinimumHeight;
	  text-align: center;
	  
	  > .controls {
	  
	    float: left;
	    width: @rowControlsWidth;
	    
	    > button {
	      display: none;
	    }
	    
	  }
	  
	  &:hover {
	    background-color: @rowHoverBackgroundColor;
	    border-color: @rowHoverBorderColor;
	    
	    > .controls {	    
	      > button {
		display: block;
		
		&.remove {
		  background-image: url("@{imagesLocation}/trash.png");
		}
		
		&.add-column {
		  background-image: url("@{imagesLocation}/plus.png");
		}
		
	      }
	    }
	    
	  }
	  
	}
      
      }
    
    }
    
    &.preview-mode {
    
      .row {
	.controls {
	  display: none;
	}
      }
      
      .add-row {
        display: none;
      }
    
    }
    
  }
  
}