
# fuseblk filesystem temp files (weirdoo!)
.fuse_*

# kate swap files
*.kate-swp

# build assets
pagy-*.src.coffee
pagy-*.js
pagy-*.map
css

# kate project
.kateproject
.kateproject.d

# npm modules dir
node_modules